<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-dark unique-color-dark lighten-1 sticky-top">
  <a class="navbar-brand" href="#">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
    aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item text-white">Hi <span id="userName"> Admin</span></li>
      <li class="nav-item avatar dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-55" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          <img src="https://via.placeholder.com/30" class="rounded-circle z-depth-0" alt="avatar image">
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-secondary" aria-labelledby="navbarDropdownMenuLink-55">
          <a class="dropdown-item" href="#">Account</a>
          <a class="dropdown-item" href="#">FAQs and Help</a>
          <a class="dropdown-item" href="#">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<!--/.Navbar -->

<!-- SIDEBAR HERE -->
<div class="container-fluid">
  <div class="sidenav mdb-color">
    <div class="container-fluid">
      <div class="font-weight-bold text-light">
        <br><br>
        <p>Journal 1</p>
        <p>Journal 2</p>
        <p>Journal 3</p>
        <p>Journal 4</p>
        <p>Journal 5</p>
        <p>work memos</p>
        <p>home memos</p>
        <p>financial </p>
      </div>
    </div>
  </div>

  <div class="container-fluid mt-3" id="contentBody">
    <div class="card" id="pageCard">
      <div class="row">
        <div class="col-sm-4 col-3" id="listedEntries">
          <div id="list-example" class="list-group">
            <a class="list-group-item list-group-item-action active" href="#list-item-1"><span
                class="entrySpan">Entry</span>
              1</a>
            <a class="list-group-item list-group-item-action" href="#list-item-2"><span class="entrySpan">Entry</span>
              2</a>
            <a class="list-group-item list-group-item-action" href="#list-item-3"><span class="entrySpan">Entry</span>
              3</a>
            <a class="list-group-item list-group-item-action" href="#list-item-4"><span class="entrySpan">Entry</span>
              4</a>
          </div>
        </div>
        <div class="col-sm-8 col-9" id="writtenEntries">
          <div data-spy="scroll" data-target="#list-example" data-offset="0"
            class="container-fluid scrollspy-example z-depth-1" id="journalContent">
            <h4 id="list-item-1">Entry 1 </h4>
            <p>Disrupt direct trade jean shorts franzen. Gentrify mustache quinoa, salvia taxidermy blog pug forage
              intelligentsia. Beard street art direct trade, listicle ethical hammock bushwick tilde celiac af
              lumbersexual migas raw denim. Hot chicken hoodie mixtape marfa disrupt kitsch flannel succulents.
            </p>
            <h4 id="list-item-2">Entry 2</h4>
            <p>Godard gentrify kogi, leggings helvetica asymmetrical lomo keytar. Selvage VHS organic four loko
              meggings actually umami live-edge stumptown migas jean shorts post-ironic ethical. Copper mug craft
              beer food truck aesthetic pug chicharrones forage everyday carry. Ugh live-edge freegan lumbersexual
              cronut mlkshk lomo copper mug, cred selfies banjo blue bottle cray tumblr. Hammock artisan 8-bit edison
              bulb readymade. Sriracha venmo shabby chic godard.

              +1 meditation af VHS fashion axe four dollar
              toast disrupt slow-carb typewriter hashtag quinoa ennui. Intelligentsia jianbing irony hashtag ennui
              enamel pin chambray air plant raw denim.

              Iceland hell of biodiesel single-origin coffee tbh. Pop-up marfa helvetica aesthetic squid, pug salvia
              tote bag chartreuse semiotics mustache prism yr. Fashion axe crucifix tbh single-origin coffee, tote
              bag kombucha gentrify humblebrag activated charcoal. Bespoke hashtag master cleanse tousled, adaptogen
              austin normcore fashion axe.</p>
            <h4 id="list-item-3">Entry 3</h4>
            <p>You probably haven't heard of them vegan lyft keytar iceland butcher, typewriter four loko hell of
              messenger bag ethical small batch man braid gentrify. Iceland subway tile everyday carry pinterest
              prism slow-carb kombucha crucifix PBR&B letterpress blue bottle plaid pickled man braid. Enamel pin
              portland leggings heirloom. Woke dreamcatcher shaman vaporware hashtag iceland tattooed. Cardigan tacos
              lumbersexual, selfies pop-up aesthetic unicorn man braid typewriter tousled cold-pressed twee chillwave
              meh drinking vinegar. Cardigan letterpress chicharrones XOXO snackwave lomo hell of authentic tattooed
              selfies. Gentrify unicorn pug thundercats roof party butcher iPhone tote bag 3 wolf moon everyday carry
              coloring book.
              pickled banh mi irony pitchfork occupy art party humblebrag
              lomo small batch.</p>
            <h4 id="list-item-4">Item 4</h4>
            <p>Thundercats shabby chic YOLO, scenester franzen waistcoat hoodie freegan. Celiac readymade food truck
              art party pour-over portland. Hoodie locavore gentrify everyday carry, twee hashtag skateboard pork
              belly gastropub selvage tousled williamsburg c

              Lumbersexual synth swag cornhole green juice skateboard, jianbing chillwave meggings. Hell of migas
              dreamcatcher tousled gentrify selvage. Leggings gluten-free flannel man bun flexitarian authentic vinyl
              wayfarers tattooed portland lomo. Meh shabby chic tousled farm-to-table iPhone actually edison bulb
              health goth pinterest synth PBR&B helvetica next level flannel. Fixie ennui flexitarian hexagon direct
              trade bicycle rights brooklyn tbh viral freegan 90's microdosing synth prism hammock. Craft beer edison
              bulb single-origin coffee waistcoat viral ugh.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark fixed-bottom">
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright
  </div>
  <!-- Copyright -->
</footer>